//*//////   基准font-size  ////////*/
$baseFontSize: 100!default;

//左右留白
$emptyWidth:15rem / $baseFontSize;

$HighlightColor:#cde4ff;
$disableColor:#687a8e;
$errColor:#d0011b;

$inputH:96rem / $baseFontSize;//input height