<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--flexible.js会自动计算添加meta标签-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>example</title>
    <style type="text/css">
      /*#app{
        margin: 220px auto;
        margin-bottom: 0;
        width: 800px
      }*/
      *{
        margin:0;
        padding:0; 
      }
      body{
        max-width: none!important;
      }
      ul li{
        list-style: none;
      }
    </style>
    <!--<script src="../library/flexible.js"></script>-->
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=be192aecc75e4e50069f26500aa30a38"></script> 
  </head>
  <body>
     <div id="app">
       <!-- <header-component></header-component> -->
  	   <router-view></router-view>
	   </div>
    <!-- built files will be auto injected -->
  </body>
</html>
