body {
  color: rgb(92, 101, 108);
  font-family: "San Francisco", Roboto, "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

.clearfix {
  display: inline-block;
}

.clear:after {
  display: block;
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
}
