@font-face {
  font-family: 'gio-icon';
  src:  url('../fonts/gio-icon.eot?vp855k');
  src:  url('../fonts/gio-icon.eot?vp855k#iefix') format('embedded-opentype'),
    url('../fonts/gio-icon.ttf?vp855k') format('truetype'),
    url('../fonts/gio-icon.woff?vp855k') format('woff'),
    url('../fonts/gio-icon.svg?vp855k#gio-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gio-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exbition:before {
  content: "\e900";
}
.icon-events:before {
  content: "\e901";
}
.icon-outdoor:before {
  content: "\e902";
}
.icon-ticket:before {
  content: "\e903";
}

